body.dark{
    background-color: #000000;
    color: #fff;
}

.delBtn{
    color:#ffffff;
    background-color: red;
    border: none;
    margin-left: 7px;
    font-size: 10px;
    cursor: pointer;
}

.delBtn:hover{
    background-color: rgb(148, 7, 7);
}

.delBtn:active{
    background-color: rgb(255, 36, 36);
}