body.dark{
    background-color: #000000;
    color: #fff;
}

.delBtn{
    color:#ffffff;
    background-color: red;
    border: none;
    margin-left: 7px;
    font-size: 10px;
    cursor: pointer;
}

.delBtn:hover{
    background-color: rgb(148, 7, 7);
}

.delBtn:active{
    background-color: rgb(255, 36, 36);
}

.users{
    width: 600px;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
}

.card{
    list-style: none;
    padding: 40px 20px;
    background-color: antiquewhite;
    display: inline-block;
}

.modal-body{
    background-color:antiquewhite;
}

.elForm{
    padding: 50px;
    background-color: cadetblue;
}